{{ 'main-collection.css' | asset_url | stylesheet_tag }}

<style>
    {% if section.settings.background-img %}    
        #{{ section.id }} .background-img {
            background-image: url({{ section.settings.background-img | img_url: 'master' }});
        }
    {% endif %}
</style>

<section class="main-collection" id="{{ section.id }}">
    <div class="background-img">
        <div class="gradient-top"></div>
        <div class="collection-card_container">
            {% for block in section.blocks %}
                {% if block.type == "collection-card" %}
                    {%
                        render 'collection-card',
                        heading: block.settings.heading,
                        photo: block.settings.photo,
                        description: block.settings.description,
                        link_text: block.settings.link_text,
                        btn_text: block.settings.btn_text
                    %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="gradient-low"></div>
    </div>
</section>

{% schema %}

{
    "name": "Main collection",
    "tag": "section",
    "presets": [
        {
            "name": "Main collection"
        }
    ],
    "settings": [
        {
            "type": "image_picker",
            "id": "background-img",
            "label": "Background photo"
        }
    ],
    "blocks": [
        {
            "name": "Collection card",
            "type": "collection-card",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "image_picker",
                    "id": "photo",
                    "label": "Image card"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Dedscription"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text"
                },
                {
                    "type": "url",
                    "id": "link_text",
                    "label": "Button link"
                }
            ]
        }
    ]
}

{% endschema %}