.main-collection {
    height: 798px;
    position: relative;
}

@media (max-width: 768px) {
    .main-collection {
        height: 1400px;
    }
}

@media (max-width: 768px) {
    .main-collection {
        height: 993px;
    }
}

.background-img {
    height: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.collection-card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 130px;
}

@media (max-width: 768px) {
    .collection-card_container {
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
    }
}

.gradient-low {
    position: absolute;
    height: 100px;
    width: 100%;
    display: block !important;
    bottom: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.gradient-top {
    position: absolute;
    height: 100px;
    width: 100%;
    display: block !important;
    top: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.heading {
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FDFEFF;
}

@media (max-width: 768px) {
    .heading {
        font-size: 35px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .heading-right {
        margin-top: 50px;
    }
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 710px;
    max-height: 528px;
}

@media (max-width: 1500px) {
    .collection-card {
        width: 500px;
        margin-top: 0;
    }
}

@media (max-width: 1078px) {
    .collection-card {
        width: 400px;
    }
}

@media (max-width: 840px) {
    .collection-card {
        width: 360px;
    }
}

@media (max-width: 768px) {
    .collection-card {
        width: 325px;
        margin-top: 15px;
    }
}

@media (max-width: 370px) {
    .collection-card {
        width: 300px;
    }
}

.collection-card_left {
    left: 230px;
}

.collection-card_right {
    right: 230px;
}

.collection-card_photo {
    margin-bottom: -9px;
    width: 100%;
}

.red-hat__15-20_400 {
    color: #FDFEFF;
}

@media (max-width: 768px) {
    .red-hat__15-20_400 {
        font-size: 12px;
        line-height: 15px;
    }
}

.collection-card_description {
    background-color: #000000;
    border-radius: 0px 0px 15px 15px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -30px;
    text-align: center;
}

@media (max-width: 1078px) {
    .collection-card_description {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
    }
}

.chakra-petch__20-25_700 {
    color: #FDFEFF;
    text-decoration: none;
}

.collection-card_btn {
    padding: 15px 30px;
    gap: 10px;
    background: #000000;
    text-align: center;
    border: 2px solid white;
    /* border-image: linear-gradient(to bottom right, #CB262C , #2D4561, #457DA0, #A7D8DC);
    border-image-slice: 1; */
    border-radius: 15px;
}

@media (max-width: 768px) {
    .collection-card_btn {
        padding: 12px 25px 13px;
        gap: 10px;
        font-size: 15px;
        line-height: 20px;
    }
}

.collection-card_btn--wrapper {
    display: flex;
    justify-content: center;
    transform: translate(0,50%);
}

.border {
    border: 2px solid white;
    padding-top: 35px;
    border-radius: 15px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .border {
        width: inherit;
        margin-bottom: 0;
    }
}