.alex-murphy__80-50_400 {
    font-family: 'Alex Murphy Solid';
    font-size: 80px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

.chakra-petch__20-25_700 {
    font-family: 'Chakra Petch';
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.red-hat__15-20_400 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}